* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
}
body {
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #fffdd0;
}
button a {
  text-decoration: none;
}
.banner {
  width: 100vw;
  height: 100vh;
  /* adding blur layer over image */
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/hero.jpeg);
  background-size: cover;
  object-fit: cover;
  background-image: center;
}

h1 {
  font-size: 30px;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
}
.logo {
  width: 120px;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  text-transform: uppercase;
  position: relative;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}
.content {
  width: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-left: 400px;
}
.content h1 {
  font-size: 50px;
  margin-top: 80px;
  text-align: center;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  position: relative;
}
span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}

footer {
  width: 85%;

  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  align-items: center;
  bottom: 0;
  position: absolute;
}

footer ul li {
  display: inline-block;
  margin: 0 20px;
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  padding: 10px;
  color: #fffdd0;
}
/* hover underling trasnition effect */
.footer ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.footer ul li:hover:after {
  width: 100%;
}

/* responsiveness */
@media only screen and (min-width: 370px) and (max-width: 750px) {
  .nav-links a {
    margin: 0.5rem;
    text-decoration: none;
  }

  .footer-links a {
    margin: 0.5rem;
    text-decoration: none;
    color: white;
  }
  .content {
    max-width: 80%;
    margin: 0 auto;
  }

  footer a {
    margin: 0.5rem;
    text-decoration: none;
  }
  h1 {
    font-size: 10px;
    margin-top: 0;
  }
  button {
    width: 100px;
    height: 20px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .content {
    font-size: 13px;
    width: 50vw;
    height: 50vh;
  }
  .banner {
    display: grid;
    width: 100vw;
  }
}
@media only screen and (max-width: 960px) {
  .navbar {
    position: relative;
    top: 40rem;
  }
}
@media only screen and (max-width: 750px) {
}
/* add brrak point for 500 max width */
