* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  color: antiquewhite;
}
body {
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
  color: #fffdd0;
}
button a {
  text-decoration: none;
}
.banner {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(images/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 30px;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional, to ensure navbar visibility */
}
.logo {
  width: 120px;
}
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  text-transform: uppercase;
  position: relative;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}
.content {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-left: 400px;
}
.content h1 {
  font-size: 50px;
  margin-top: 80px;
  text-align: center;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button {
  width: 200px;
  padding: 15px 0;
  color: #fff;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  position: relative;
}
span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
footer {
  width: 85%;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
  flex-wrap: wrap; /* Ensure items wrap in smaller screens */
}
footer ul li {
  display: inline-block;
  margin: 0 20px;
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  padding: 10px;
  color: #fffdd0;
} /* hover underline transition effect */
.footer ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.footer ul li:hover:after {
  width: 100%;
} /* Responsiveness */
@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 20px 0;
  }
  .content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .content h1 {
    font-size: 40px;
  }
  h1 {
    font-size: 25px;
  }
  button {
    width: 150px;
    padding: 12px 0;
  }
}
@media only screen and (max-width: 699px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  .navbar ul li {
    margin: 10px 0;
  }
  .content {
    width: 100%;
    margin: 0;
    position: relative;
    top: 0;
    transform: none;
  }
  .content h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  .content p {
    font-size: 14px;
    margin: 10px 0;
  }
  button {
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer ul li {
    margin: 10px 0;
    font-size: 18px;
  }
}
